<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tutorsweb.ehc.com.tutorsinfogathering">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-feature android:name="android.hardware.camera" />

        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:label="@string/title_activity_home_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegStepsHostActivity"
            android:label="@string/title_activity_reg_steps_host"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowWebView"
            android:label="@string/title_activity_show_web_view"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportsActivity"
            android:label="@string/title_activity_reports"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocumentationActivity"
            android:label="@string/title_activity_documentation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InstituteSignUpHostActivity"
            android:label="@string/title_activity_institute_signup_host"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DemonstrationActivity"
            android:label="@string/title_activity_demonstration"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>
