<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tutorsweb.ehc.com.tutorsinfogathering">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <uses-feature android:name="android.hardware.camera" />

        <activity
            android:name=".SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomePage"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegStepsHostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LeadCapture"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DocumentationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InstituteSignUpHostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DemonstrationActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".TutorsWebSiteHomePage" />
        <activity
            android:name=".SplashScreenActivity"
            android:label="IReg"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SyncDataService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
